div.calendar-placeholder {
    border-radius: 6px;
    border: 1px solid #cccccc;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    z-index: 9;
    min-height: 200px;
}

div.calendarHeader {
    border-radius: 6px 6px 0 0;
}

div.calendarFooter {
    border-radius: 0 0 6px 6px;
}

h3.monthAndYear {
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

span.next,
span.previous {
    cursor: pointer;
}

table.calendar {
    font-family: 'Montserrat', sans-serif;
}

table.calendar thead tr th {
    font-size: 9px;
    font-weight:bold;
}

table.calendar tr td {
    font-size:9px;
}

table.calendar td.selectDate {
    cursor: pointer;
}
